@import 'mixins';

/******************************************************************************
  Contact Page Style
  ******************************************************************************/
  
  .contact-container {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
  }
  
  .contact-about {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
      h2 {
        color: gainsboro;
        font-weight: 500;
        font-size: 2.5em;
  }
}
  
  .contact-about-box {
    display: flex;
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    background-color: rgba(255, 255, 255, 0.01);
    margin: 3% 0;
    transition: all 1s ease-in;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transform: scale(1.03);
        }

        h2 {
            font-weight: 400;
            flex: 0;
            color: gainsboro;
           /*  border-left: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black; */
        }
            p {
                font-family: 'Roboto', sans-serif;
                color: gainsboro;
                text-transform: none;
                padding-top: 10%;
                padding-right: 2%;
               /*  border-top: 1px solid black;
                border-right: 1px solid black;
                border-bottom: 1px solid black; */
                text-align: center;
                flex: 3;
                line-height: 1.2;

            }
  }

  .photo {
    background-image: url('../images/unnamed.jpg');
    background-position: 49% 61%;
    flex: 2;
  }
  
  .contact-find-me {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
    @include container-flex();
    justify-content: space-evenly;
    flex-direction: column;
    
      h2 {
        color: gainsboro;
        font-weight: 500;
        font-size: 2.5em;
  }
}

  .contact-find-me-box {
    grid-column: 6 / 10;
    grid-row: 2 / 3;
    margin: 5%;
    display: flex;
    overflow: hidden;
  }
  
  .contact {
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    @include container-flex();
    flex-direction: column;
  
    img {
      padding-bottom: 1rem;
    }
  }

  .contact p {
    display: flex;
    flex-direction: column;
  }

  .contact i {
    font-size: 4.5rem;
    padding-bottom: 1rem;
  }

  .contact a {
    text-decoration: none;
    color: #cac5c5;
  }
  
  .contact > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex: 3 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact > *:first-child { transform: translateY(-100%); }
  .contact.open-active > *:first-child { transform: translateY(0); }
  .contact > *:last-child { transform: translateY(100%); }
  .contact.open-active > *:last-child { transform: translateY(0); }
  
  .contact p:nth-child(2) {
    font-size: 1rem;
  }
  
  .contact.open {
    font-size:40px;
    flex: 4;
  }
  
  footer {
    align-items: center;
    grid-column: 1 / 10;
    grid-row: 3 / 4;
    background-color: rgba(255, 255, 255, 0.07);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

  }

  .footer-container {
    display: flex;
    justify-content: center;
    grid-column: 1 / 10;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
      padding-bottom: 1em;
    }

      div + div {
        margin-top: 1em;
      }

        label {
          display: inline-block;
          width: 90px;
          text-align: right;
        }

          input, textarea {
            font: 1em sans-serif;
            width: 300px;
            box-sizing: border-box;
            border: 1px solid black;
          }

            input:focus, textarea:focus {
              border-color: #000;
            }

              textarea {
                vertical-align: top;
                height: 5em;
              }

                .button {
                  padding-left: 90px;
                }

                  button {
                    margin-left: 5em;
                    }
                  }
  


