/* colors */

@import 'colours', 
  'mixins', 
  'mainGrid', 
  'splashPage', 
  'portfolio', 
  'contact',
  'typography',
  'responsive';


/*****************************************************************************
Universal style
*****************************************************************************/
html {
  font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  